<%- include('partials/header') -%>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
<link rel="stylesheet" href="css/bootstrap.min.css">                                      <!-- Bootstrap style -->
<link rel="stylesheet" href="css/templatemo-style.css">                                   <!-- Templatemo style -->
  <!-- <h1>Home</h1> -->

  <div class="tm-home-img-container">
    <img src="img/tm-contact-img.jpg" alt="Image" class=" img-fluid">
  </div>

  <p style="font-family:Open Sans, Monaco; text-align: justify; line-height: 1.5;"> <%= c1 %></p>

  <% if(posts.length > 0){
    posts.forEach(function(post){ %>
      <h2 style="font-family:Open Sans, Monaco;"> <%= post.title %> </h2>
      <h6 style="font-family:Open Sans, Monaco; text-align: justify; line-height: 1.5;">
        <%= post.content.substring(0,350) + " ..." %>
        <a href="/posts/<%= post._id %> " style="color:#1abc9c; font-family:Open Sans, Monaco; "> Read more</a>
      </h6>
      <br>
    <% })
  }else{ %>
    <p style="color:red">0 Post to diplay!</p>
  <% }
  %>
